@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Overpass", "BIZ UDPGothic", Arial, Helvetica, sans-serif;
}

.dropdown {
  z-index: 1000;
}