@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.dropdown {
  z-index: 1000;
}

/* md style */
.md h1 {
  font-weight: bold;
  font-size: 2.25rem;
}
.md h2 {
  font-weight: bold;
  font-size: 1.875rem;
}
.md h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.md h4 {
  font-weight: bold;
  font-size: 1.25rem;
}
.md ul {
  list-style-type: disc;
  padding-left: 1.5em;
}
.md ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}
.md a {
  color: rgb(34 197 94);
}
.md a:hover {
  text-decoration: underline;
}
.md blockquote {
  border-left: 4px solid #e5e7eb;
  padding-left: 1em;
  color: #9ca3af;
  font-style: italic;
}
.md code {
  background-color: #f5f5f5;
  padding: 2px 6px;
  border-radius: 2px;
}
.md pre {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
}
.md img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.md hr {
  border: none;
  border-top: 1px solid rgb(229, 231, 235);
}

.text-gradient {
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.float-up-animation {
  animation: floatUp 0.5s ease-out forwards;
}

@keyframes floatUpSpin {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(0deg); /* 初期状態で縮んで、回転開始 */
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg); /* 1回転して元のサイズに戻る */
  }
}

.float-up-2-animation {
  animation: floatUpSpin 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards; /* アニメーションを速く、加速感のあるカスタムイージング */
}

::selection {
  background-color: rgba(34, 197, 94, 0.5);
}